* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	font-family: Work;
}

@font-face {
	font-family: Work;
	src: url(./assets/WorkSans-VariableFont_wght.ttf);
}

body {
	background-color: #f7f7f7;
}

/* 
========================
Landing
========================
*/
#landing {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	transition: 1.2s ease;
}

#landing-inside {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 80vh;
}
/* Nav ---------------------- */
nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: white;
	padding: 30px;
	width: 100%;
}

nav h1 {
	font-weight: 600;
	font-size: 2rem;
	display: flex;
	flex-direction: row;
	align-items: center;
}
nav h1 i {
	color: rgb(228, 15, 79);
	margin-right: 12px;
}

#support-button {
	background-color: rgb(228, 15, 79);
	border: 2px solid rgb(228, 15, 79);
	padding: 16px 20px;
	border-radius: 500px;
	font-weight: 600;
	transition: 0.3s;
	margin-left: 10px;
}
#support-button:hover {
	background-color: transparent;
	transition: 0.3s;
	color: rgb(228, 15, 79);
}

#nav-links a {
	color: white;
	text-decoration: none;
	margin-right: 22px;
	font-weight: 600;
}
/* Nav ---------------------- */

#landing h2 {
	color: white;
	font-size: 5.5rem;
	width: 60vw;
	text-align: center;
	font-weight: 900;
	transition: 1s;
}

/* Form ---------------------------- */
#landing form {
	box-shadow: 0px 8px 16px 0px rgba(100, 100, 100, 0.2);
	margin-bottom: 10vh;
}

#landing form input {
	width: 30vw;
	font-size: 30px;
	padding: 8px 16px;
	border: none;
	border-radius: 10px 0px 0px 10px;
	background-color: rgba(255, 255, 255, 0.699);
}
#landing form input:focus {
	border: none;
	outline: none;
}

#landing form button {
	font-size: 30px;
	padding: 8px 16px;
	background-color: rgb(231, 14, 43);
	color: whitesmoke;
	border: none;
	border-radius: 0px 10px 10px 0px;
	outline: none;
	cursor: pointer;
	transition: 0.2s;
}
#landing form button:hover {
	background-color: rgb(58, 40, 42);
	transition: 0.2s;
}

/* Form ---------------------------- */

/* 
==============================
Main
==============================
 */

main {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
}

/* SINGLE TASK */

article {
	position: relative;
	overflow: hidden;
	width: 250px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 25px;
	background-color: rgb(66, 66, 66);
	border-radius: 10px;
	box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.555);
}

article:hover .movie-desc {
	margin-top: 0px;
	transition: 0.8s ease-out;
}

.movie-desc {
	transition: 0.8s ease-out;
	margin-top: -350px;
	position: absolute;
	width: 250px;
	height: 350px;
	background-color: rgb(255, 255, 255);
	color: rgb(83, 83, 83);
	overflow-y: scroll;
	padding: 10px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 14px;
}

.movie-img {
	width: 250px;
	height: 350px;
	background-position: center;
	background-size: cover;
	border-radius: 10px 10px 0px 0px;
}
.movie-img i {
	color: gray;
	font-size: 40px;
	margin-top: 55%;
}

.movie-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	padding: 0px 8px;
	font-size: 12px;
	font-weight: 300;
	color: white;
}
.movie-info h2 {
	font-weight: 100;
	font-size: 14px;
	text-align: left;
	max-width: 75%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

/*
Page Select
*/

#page-select {
	font-size: 3rem;
	width: fit-content;
	margin: 20px auto;
}
#page-select button {
	margin: 0px 16px;
	background-color: rgb(68, 68, 68);
	color: white;
	border: none;
	outline: none;
	font-size: 24px;
	padding: 8px 16px;
	border-radius: 500px;
	box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.555);
	transition: 0.2s;
	cursor: pointer;
}
#page-select button:hover {
	background-color: rgb(231, 14, 43);
	transition: 0.2s;
}
